@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GalanoGrotesqueMedium';
    src: url("../src/fonts/GalanoGrotesqueAltMedium.otf") format("opentype");
}

@font-face {
    font-family: 'GalanoGrotesqueLight';
    src: url("../src/fonts/GalanoGrotesqueAltLight.otf") format("opentype");
}